{% extends "base.html" %}
{% from "_macros.html" import render_field %}

{% block content %}
<div class="row justify-content-center align-items-center vh-100">
    <div class="col-md-6 col-lg-4">
        <div class="card shadow-lg">
            <div class="card-body p-4">
                <h3 class="card-title text-center mb-4">{{ title }}</h3>
                <form action="" method="post" novalidate>
                    {{ form.hidden_tag() }}
                    {{ render_field(form.email) }}
                    <div class="mb-3">
                        {{ form.password.label(class="form-label") }}
                        <div class="input-group">
                            {{ form.password(class="form-control", id="password-field") }}
                            <button class="btn btn-outline-secondary" type="button" id="toggle-password">
                                <i class="bi bi-eye-slash" id="toggle-icon"></i>
                            </button>
                        </div>
                        {% for error in form.password.errors %}
                        <div class="invalid-feedback d-block">
                            {{ error }}
                        </div>
                        {% endfor %}
                    </div>
                    {% if form.remember_me %}
                    <div class="mb-3 form-check">
                        {{ form.remember_me(class="form-check-input") }}
                        {{ form.remember_me.label(class="form-check-label") }}
                    </div>
                    {% endif %}
                    {{ form.submit(class="btn btn-primary w-100") }}
                </form>
                <div class="text-center mt-3">
                    <a href="{{ url_for('auth.reset_password_request') }}">¿Olvidaste tu contraseña?</a>
                </div>
            </div>
        </div>
    </div>
</div>




<script>
    document.addEventListener('DOMContentLoaded', function() {
        const togglePassword = document.getElementById('toggle-password');
        const passwordField = document.getElementById('password-field');
        const toggleIcon = document.getElementById('toggle-icon');

        togglePassword.addEventListener('click', function () {
            // Cambiar el tipo del input
            const type = passwordField.getAttribute('type') === 'password' ? 'text' : 'password';
            passwordField.setAttribute('type', type);
            
            // Cambiar el ícono del ojo
            toggleIcon.classList.toggle('bi-eye');
            toggleIcon.classList.toggle('bi-eye-slash');
        });
    });
</script>
{% endblock %}

