# Entorno Virtual
venv/

# Archivo de variables de entorno (secretos)
.env

# Archivos de caché de Python
__pycache__/
*.pyc

# Carpeta de instancia de Flask (si se llega a crear)
instance/

# Base de datos SQLite (si la usaras en el futuro)
*.db
*.sqlite3
